@page "/TS/Filtro/TodosGames"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

@*
    <div class ="form-row">
        <label>Tags</label>
        <InputSelect ValueExpression="@(()=>tag.TagId)"
                     Value="@tag.TagId"
                     ValueChanged="@((int value)=>@OnChangeCat(value))">
            <option value="">Selecione a Tag</option>
            @foreach (var item in TagList)
            {
                <option value="@item.TagId">@item.Nome</option>
            }
        </InputSelect>

        @foreach(var item in GameList){
            <h3>@item.Nome</h3>
        }
        </div>

<h3>Lista de Games</h3>
<EditForm Model="@TagList" OnValidSubmit="OnChangeCat">
    <div class="card m-3">
        <h4 class="card-header">Tags</h4>
        <div class="card-body">
            <div class="form-row">
                @foreach (var item in TagList)
                {
                    <div class="form-group col">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label" for="exampleCheck1">@item.Nome</label>
                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary mr-1">Filtrar</button>
        </div>
    </div>
    <div>
        @foreach (var item in GameList)
        {
            <div class="form-group col">
                <label class="form-check-label" for="exampleCheck1">@item.Nome</label>
            </div>
        }
    </div>
</EditForm>
*@


<div class="card m-3">
    <h4 class="card-header">Filtrar</h4>
    <div class="card-body">
        <EditForm Model="@taggame">
            <DataAnnotationsValidator />

            <div class="form-row">
                <label>Tag</label>
                <InputSelect ValueExpression="@(() => taggame.TagId)"
                             Value="@taggame.TagId"
                             ValueChanged="@((string value) => OnChangeCat(value))">
                    <option value="">Selecione a Categoria</option>
                    @foreach (var item in TagList)
                    {
                        <option value="@item.TagId">@item.Nome</option>
                    }
                </InputSelect>
            </div>

            
                <label>Games:</label>

                @foreach (var tag in TagGameList)
                {


                    @foreach (var game in GameList) //roda a lista de tags
                    {
                        
                            if (tag.Id == game.Id)
                            {

                            <tr>
                            <td>@game.Id - @game.Nome</td>
                            </tr>
                            }
                            
                     }

                        
                }
                
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>


    @code {
        private TagGameDTO taggame = new TagGameDTO();
        private Tag tag = new Tag();
        private List<Game> GameList = new List<Game>();
        private List<TagGame> TagGameList = new List<TagGame>();
        private List<Tag> TagList = new List<Tag>();

        protected override async Task OnInitializedAsync()
        {
            var games = await Http.GetFromJsonAsync<List<Game>>("/Game/Listar");
            foreach (var item in games)
            {
                GameList.Add(item);

            }

            @*
            var tgp = await Http.GetFromJsonAsync<List<TagGame>>("/TagGame/LTagGame");//Rota para o controller ir e trazer uma lista das Tags
            foreach (var item in tgp)
            {
                TagGameList.Add(item);
            }
                *@

            var tags = await Http.GetFromJsonAsync<List<Tag>>("/Tag/ListarTAG");//Rota para o controller ir e trazer uma lista das Tags
            foreach (var item in tags)
            {
                TagList.Add(item);//adiciona cada item na TagList

            }

        }

        private async Task OnChangeCat(string value)
        {
            taggame.TagId = value; //Seta o valor da Categoria no pedidoDto
            var taggames = await Http.GetFromJsonAsync<List<TagGame>>("/TagGame/LTagGame");
            TagGameList.Clear();
            var gamesByCategory = taggames.Where(c => c.TagId == Convert.ToInt32(value));
            foreach (var item in gamesByCategory)
            {
                TagGameList.Add(item);
            }

        }
    }
