@page "/TS/Game/CadastrarGame"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager


<h3>CadastroGame</h3>
<div class="card m-3">
    <h4 class="card-header">Cadastro do Game</h4>
    <div class="card-body">
        <EditForm Model="@game" OnValidSubmit="ValidC" @onreset="Reset">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="form-group col">
                    <label>Id</label>
                    <InputNumber @bind-Value="game.Id" class="form-control" />
                    <ValidationMessage For="@(() => game.Id)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Nome</label>
                    <InputText @bind-Value="game.Nome" class="form-control" />
                    <ValidationMessage For="@(() => game.Nome)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Preço</label>
                    <InputNumber @bind-Value="game.Preco" @bind-Value:format="F2" class="form-control" />
                    <ValidationMessage For="@(() => game.Preco)" />
                </div>
            </div>
            @*
            <div class="form-row">
                <div class="form-group col">
                    <label>id do Desenvolvedora: </label>
                    <InputText @bind-Value="game.IdDesenvolvedora" class="form-control" />

                </div>
            </div>
                *@
            <div class="form-row">
                <label>Desenvolvedora</label>
                <InputSelect @bind-Value="game.IdDesenvolvedora">
                    <option value="">Selecione a Categoria</option>
                    @foreach (var item in DesenvolvedoraList)
                    {

                        <option value="@item.IdDesenvolvedora">@item.Nome</option>
                    }
                </InputSelect>
            </div>
            @*




        <div class="form-row">
            <div class="form-group col">
                <label>Descrição</label>
                <InputText @bind-Value="game.DetalheGame.Descricao" class="form-control" />

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>Estado de Conservação</label>
                <InputText @bind-Value="game.DetalheGame.EstadodeConservacao" class="form-control" />

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Tempo de Uso</label>
                <InputText @bind-Value="game.DetalheGame.TempoDeUso" class="form-control" />

            </div>
        </div>
            *@
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>

        </EditForm>
    </div>
</div>


@code {
    private List<Desenvolvedora> DesenvolvedoraList = new List<Desenvolvedora>();
    private GameDTO game = new GameDTO();
    private EditContext editContext { get; set; }
    private List<Tag> TagList = new List<Tag>();

    protected override async Task OnInitializedAsync()
    {
        var vend = await Http.GetFromJsonAsync<List<Desenvolvedora>>("/Desenvolvedora/ListDesenvolvedoraes");//Rota para o controller ir e trazer uma lista de Desenvolvedoraes
        foreach (var item in vend)
        {
            DesenvolvedoraList.Add(item);
        }
    }

    private async Task ValidC()
    {
        Console.WriteLine(game.IdDesenvolvedora);
        var p1 = await Http.PostAsJsonAsync("/Game/Criar", game); //manda para o controller criar um game por um  Json Async
        NavigationManager.NavigateTo("TS/Game/AddDetalhe/" + game.Id.ToString());
        //NavigationManager.NavigateTo("TS/Game/ListarGame"); // Navega até o endereco forçando o navegador a dar reload

        var tags = await Http.GetFromJsonAsync<List<Tag>>("/Tag/ListarTAG");//Rota para o controller ir e trazer uma lista das Tags
        foreach (var item in tags)
        {
            TagList.Add(item);//adiciona cada item na TagList

        }
    }

    private void Reset()
    {
        game = new GameDTO();
        editContext = new EditContext(game); //Sinaliza quais campos foram modificados
    }

}
